<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/my-login.css">
</head>

<body class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="brand">
						<img src="/static/img/logo.JPG" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Check Meter</h4>
							<form method="POST" class="my-login-validation" novalidate="" action="/confirm">
								<div class="form-group">
									<label for="email">OTP</label>
									<input id="email" type="password" class="form-control" name="otp"  >
								</div>

								<div class="form-group">
									<label for="password">New passsword
									</label>
									<input id="password" type="password" class="form-control" name="newpassword" >
								</div>



								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Confirm And Change Password
									</button>
								</div>

							</form>
						</div>
					</div>
					<div class="footer">
						By Sai Praneeth
					</div>
				</div>
			</div>
		</div>
	</section>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-9338076742242836"
     data-ad-slot="5510966962"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>
</html>
